html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


#myIframe{


width:500px;

height:750px;


/* width:100%; */

position: absolute;

top:20%;
right:5%



}
#myIframe2{

display: none;
width:500px;

height:750px;


/* width:100%; */

position: absolute;

top:20%;
right:5%



}
